@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5em;
    text-decoration: none;
    background: white;
}

.container {
    max-width: 1920px;
    margin: auto;
    padding: 0 10px;
    overflow: auto;
}

.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    background: #161F27;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 15px;
}

.btn-light {
    display: inline-block;
    color: white;
    text-decoration: none;
    background: #161F27;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 15px;
}

.btn-light:hover {
    background: #1E2934;
    color: #EFD5A9;
}

.btn:hover {
    background: #1E2934;
    color: #EFD5A9;
}

.nadpis-zvyrazneni {
    color: #51637B;
    font-weight: bold;
}

.background {
    background-color: #2D3E4E;
}

#header {
    color: white;
}

#img {
    float: left;
    padding: 9px 0;
}

#logo {
    float: left;
    padding: 15px 5px;
    font-size: 1.5em;
    font-weight: bold;
}

#navbar, #navbar a {
    color: white;
    background: #517290;
    text-decoration: none;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a{
    padding: 15px;
    display: block;
    font-size: 1.3em;
}

#navbar ul li a:hover{
    background: #496783;
    color: #EFD5A9;
}

#navbar ul li a.current {
    background: #496783;
    color: #EFD5A9;
}

#showcase {
    height: 50vh;
    background: url("../img/showcase.jpg") no-repeat center center/cover;
}

#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 15vh;
    line-height: 1.6em;
}

#showcase .showcase-content h1 {
    font-size: 4em;
    line-height: 1em;
    padding-bottom: 10px;
}

#showcase .showcase-content p {
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;
}

#showcase .showcase-content h2 {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

#home-info {
    height: 600px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url("../img/fotka.jpg") no-repeat center top/cover;
    min-height: 100%;
}

.info-content {
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 25vh;
    color: white;
}

.info-content h2 {
    font-size: 2.8em;
    padding-bottom: 20px;
    font-weight: bold;

}

.info-content p {
    padding: 0 80px;
}

#footer {
    height: 10vh;
    background: #424861;
}

#footer .footer-content {
    text-align: center;
    padding-top: 36px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

#home-info-about #photo1 {
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    width: 50%;
    height: 400px;
    background: url("../img/huskyy.jpg") no-repeat center center/cover;


}

#home-info-about #photo2 {
    float: right;
    margin-top: 10px;
    margin-left: 20px;
    width: 50%;
    height: 400px;
    background: url("../img/husky2.jpg") no-repeat center center/cover;
}

#home-info-about {

}

.container-about {
    max-width: 1920px;
    padding: 0px 10px;
    overflow: auto;
}


#home-info-about h1 {
    text-align: center;
    font-size: 2em;
    padding: 15px 0;
    text-decoration: underline;
}

#home-info-about .container-about .paragraph {
    text-align: left;
    padding: 10vh 20px;

}

#home-info-about .container-about .paragraph p {
    padding: 20px 0;
    font-size: 1.3em;
}

#home-info-about .container-about .paragraph h2 {
    font-size: 1.8em;
    font-style: oblique;
}

#home-info-about .container-about .paragraph2 {
    padding: 10vh 0;
}

#home-info-about .container-about .paragraph2 p {
    padding: 20px 0;
    font-size: 1.3em;
}

#home-info-about .container-about .paragraph2 h3 {
    font-size: 1.8em;
    text-align: right;
    font-style: oblique;
}

#features {
    margin: auto;
}

#features h4, h5, h6 {
    font-size: 1.5em;
}

.box {
    float: left;
    padding: 50px 0;
    width: 33.3%;
    text-align: center;
    background: #1E2934;
    margin: auto 0;
    color: white;
    max-height: 40%;
}



.box h4, h5, h6 {
    padding-bottom: 15px;
}

.box i {
    margin-bottom: 10px;
}

#footer-about {
    background: #424861;
}

#footer-about .container .footer-content {
    text-align: center;
    padding: 35px 0;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

#contact-form .form-group {
    margin: 50px 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

#contact-form input {

}

#contact-form input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,textarea:focus {
    outline: none;
    border-color: #424861;
}

#contact-form .container p {
    padding: 0 20px 0 20px;
    font-weight: bold;
}

#contact-form .container h1 {
    padding: 25px 20px;
    font-weight: bold;
    font-size: 1.8em;
    text-decoration: underline;
}

#contact-form .container button {
    margin: 0 0 25px 20px;
}