#navbar {
    text-align: center;
    display: flex;
}

#navbar ul {
    text-align: center;
    display: block;
}

#showcase-bar .bar .space {
    max-width: none;
    padding: 3rem 0;
}

#showcase-bar .bar {
    display: block;

}

#about #about-img {
    display: none;
}

#about .about-p p {
    margin: 0;
}

#about .about-p {
    max-width: none;
}

#contact {
    display: block;
}

#contact .contact {
    width: 100%;
}

.dotted {
    width: 85vw;
}

#contact #contact-form {
    width: 100%;
    padding-right: 2rem;
}

#contact #contact-form input, textarea {
    width: 80vw;
}

#who .bar-who {
    display: block;
}

#who {
    height: 80vh;
}

.hamburger {
    display: block;
}

.hamburger.active .bar-ham:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar-ham:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar-ham:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: fixed;
    left: -110%;
    top: 45px;
    gap: 0;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
}
